
nav{
    position: fixed;
    width: 13%;
    height: 100vh;
    min-width: 100px;
    background: #213667;
    z-index: 1;
}

nav>:nth-child(1){
    position: absolute;
    left: 0;
    top: 2%;
    right: 0;
    min-width: 60px;
    margin: auto;
}

nav>:nth-child(2){
    position: absolute;
    left: 0;
    top: 18%;
    right: 0;
    margin: auto;

}

nav>a{
    text-decoration: none;
}

nav>a>div{
    position: relative;
    top: 220px;
    width: 90%;
    height: 40px;
    margin: 30px 0 0 0;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    background: white;
}

nav>a>div:hover{
    background: #1C894A;
}

nav>a>div:hover h3{
    color: white;
}

nav>a>div>h3{
    text-align: center;
    padding: 8px 0 0 0;
    color: #213667;
    font-family: "Avenir LT Std";
    margin: 0;
}

nav>:nth-child(3){
}

header{
    position: absolute;
    top: 0;
    right: 0;
    width: 87%;
    height: 45px;
    background: #1C894A;
    text-align: center;
}

header>h3{
    font-size: 20px;
    color: white;
    margin: 10px 0 0 0;
    font-family: "ROG Fonts";
}

main{
    position: absolute;
    width: 87%;
    height: 93.5%;
    /*height: max-content;*/
    top: 45px;
    right: 0;
}

main>section:nth-child(1){
    height: 95%;
    position: relative;
    background: #EBEBEB;;
}

main>section:nth-child(1)>article{
    position: absolute;
    display: inline-block;
    background: white;
}

main>section:nth-child(1)>:nth-child(1){
    width: 22%;
    height: 90%;
    left: 20px;
    top: 0;
    bottom: 0;
    overflow: hidden;
    margin: auto;
}


main>section:nth-child(1)>article>h3{
    margin: 0;
    font-size: 20px;
    font-family: "Avenir LT Std";
}

main>section:nth-child(1)>:nth-child(1)>form{
    position: relative;
    /*background: #ff253a;*/
    text-align: center;
    padding-top: 15px;
}

main>section:nth-child(1)>:nth-child(1)>form>input{
    position: relative;
    display: inline-block;
    width: 80%;
    height: 25px;
    outline: none;
    font-family: Roboto;
    font-size: 15px;
    color: #707070;
    border: none;
    margin: 15px 0 0 0;
    padding: 0 0 2px 20px;
    border-bottom: 1.5px solid #1C894A;
}

main>section:nth-child(1)>:nth-child(1)>form>button{
    width: 33%;
    height: 25px;
    font-family: Arial;
    margin-bottom: 20px;
    border-radius: 4px;
    background: #1C894A;
    border: none;
    color: white;
    position: relative;
    left: 27%;
}

main>section:nth-child(1)>:nth-child(1)>form>:nth-child(3){
    margin-bottom: 20px;

}

main>section:nth-child(1)>:nth-child(1)>:nth-child(3){
    width: 96%;
    height: 4px;
    position: relative;
    margin-left: 2%;
    background: #E9E9E9;
}

main>section:nth-child(1)>:nth-child(1)>:nth-child(4){
    color: #707070;
    position: relative;
    font-size: 15px;
    top: -35px;
    text-align: center;
}

main>section:nth-child(1)>:nth-child(1)>:nth-child(5){
    position: relative;
    top: -35px;
    height: 53.2%;
    text-align: center;
}

main>section:nth-child(1)>:nth-child(1)>:nth-child(5)>:nth-child(1){
    width: 85%;
    height: 30px;
    background: #E4E4E4;
    display: inline-block;
    border: 2px solid #1C894A;
    border-radius: 30px;
    position: relative;
    outline: none;
    padding-left: 15px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance:none;
}

main>section:nth-child(1)>:nth-child(1)>:nth-child(5)>:nth-child(2){
    border: none;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    background: #1C894A;
    color: white;
    outline: none;
    right: 7%;
    z-index: 10;
    border-radius: 30px;
}

main>section:nth-child(1)>:nth-child(1)>:nth-child(5)>:nth-child(3){
    height: 84.1%;
    width: 85%;
    display: inline-block;
    background: #E4E4E4;
    margin-top: 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

main>section:nth-child(1)>:nth-child(2){        /*article 2*/
    width: 73%;
    height: 90%;
    overflow: hidden;
    right: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}

main>section:nth-child(1)>:nth-child(2)>:nth-child(1){
    text-align: left;
}

main>section:nth-child(1)>:nth-child(2)>:nth-child(2){
    text-align: center;
    width: 95%;
    margin: 20px 0 0 0;
    display: inline-block;
    height: 25px;
    color: #444444;
    padding-top: 5px;
    background: #F1F1F1;
}
main>section:nth-child(1)>:nth-child(2)>:nth-child(3){
    height: 85%;
    width: 33%;
    margin-top: 15px;
    position: relative;
}

main>section:nth-child(1)>:nth-child(2)>:nth-child(3)>:nth-child(1){
    width: 85%;
    height: 30px;
    background: #E4E4E4;
    display: inline-block;
    border: 2px solid #1C894A;
    border-radius: 30px;
    position: relative;
    outline: none;
    padding-left: 15px;
}

main>section:nth-child(1)>:nth-child(2)>:nth-child(3)>:nth-child(2){
    border: none;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    background: #1C894A;
    color: white;
    outline: none;
    right: 7%;
    z-index: 1;
    border-radius: 30px;
}

main>section:nth-child(1)>:nth-child(2)>:nth-child(3)>:nth-child(3){
    height: 90%;
    width: 85%;
    display: inline-block;
    background: #E4E4E4;
    margin-top: 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

main>section:nth-child(1)>:nth-child(2)>:nth-child(4){
    width: 63%;
    top: 80px;
    right: 25px;
    position: absolute;
    height: 84%;
    background: #E4E4E4;
}

main>section:nth-child(1)>:nth-child(2)>:nth-child(4)>:nth-child(1){
    width: 95%;
    height: 20%;
    position: absolute;
    left: 0;
    top: 10px;
    right: 0;
    margin: auto;
    background: white;
}

main>section:nth-child(1)>:nth-child(2)>:nth-child(4)>:nth-child(1)>h3{
    display: inline-block;
    position: absolute;
    margin-top: 10px;
    background: #F1F1F1;
    color: #444444;
    font-size: 17px;
    padding-top: 3px;
    height: 25px;
}

main>section:nth-child(1)>:nth-child(2)>:nth-child(4)>:nth-child(1)>:nth-child(1){
    width: 49%;
    top: 0;
    left: 10px;
}

main>section:nth-child(1)>:nth-child(2)>:nth-child(4)>:nth-child(1)>:nth-child(2){
    width: 19%;
    top: 0;
    left: 51.25%;
}

main>section:nth-child(1)>:nth-child(2)>:nth-child(4)>:nth-child(1)>:nth-child(3){
    width: 27%;
    right: 10px;
    top: 0;
}

main>section:nth-child(1)>:nth-child(2)>:nth-child(4)>:nth-child(1)>:nth-child(4){
    position: absolute;
    top: 40px;
    display: flex;
}

main>section:nth-child(1)>:nth-child(2)>:nth-child(4)>:nth-child(1)>:nth-child(4)>input{
    margin: 10px 5px 0 5px;
    width: 30%;
    position: relative;
    display: inline-block;
    height: 20px;
    font-size: 15px;
    border: none;
    outline: none;
    font-family: Roboto;
    color: #707070;
    padding: 0 0 2px 20px;
    border-bottom: 1.5px solid #1C894A;
}

main>section:nth-child(1)>:nth-child(2)>:nth-child(4)>:nth-child(1)>:nth-child(4)>button{
    position: absolute;
    right: 5px;
    top: 60px;
    width: 100px;
    height: 25px;
    font-family: Arial;
    margin-bottom: 20px;
    border-radius: 4px;
    background: #1C894A;
    border: none;
    color: white;
}

main>section:nth-child(1)>:nth-child(2)>:nth-child(4)>:nth-child(2){
    width: 95%;
    height: 58%;
    position: absolute;
    left: 0;
    /*top: 0px;*/
    bottom: 50px;
    right: 0;
    margin: auto;
    background: white;
    overflow: auto;
}

main>section:nth-child(1)>:nth-child(2)>:nth-child(4)>:nth-child(2)>table{
    /*color: #ff253a;*/
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    /*margin: 10px 0;*/
}


main>section:nth-child(1)>:nth-child(2)>:nth-child(4)>:nth-child(2)>table>thead{
    text-align: center;
}

main>section:nth-child(1)>:nth-child(2)>:nth-child(4)>:nth-child(2)>table>thead>tr{
    background: #009879;
    height: 25px;
    color: white;
    font-weight: normal;
    font-family: Roboto;
}

main>section:nth-child(1)>:nth-child(2)>:nth-child(4)>:nth-child(2)>table>thead>tr>th, td{
    padding: 8px 15px;
}

main>section:nth-child(1)>:nth-child(2)>:nth-child(4)>:nth-child(2)>table>tbody>tr{
    border-bottom: 1px solid #dddddd;
}

main>section:nth-child(1)>:nth-child(2)>:nth-child(4)>:nth-child(2)>table>tbody>tr:nth-child(even){
    background: #f3f3f3;
}

main>section:nth-child(1)>:nth-child(2)>:nth-child(4)>:nth-child(2)>table>tbody>tr:last-of-type{
    border-bottom: 2px solid #009879;
}

main>section:nth-child(1)>:nth-child(2)>:nth-child(4)>:nth-child(2)>table>tfoot{
    border-bottom: 3px solid #009879;
}

main>section:nth-child(1)>:nth-child(2)>:nth-child(4)>:nth-child(2)>table>tfoot>tr>:nth-child(1){
    color: #009879;
    text-align: right;
    font-family: "Avenir LT Std";
    font-weight: bold;
}

main>section:nth-child(1)>:nth-child(2)>:nth-child(4)>:nth-child(2)>table>tfoot>tr>:nth-child(2){
    color: #009879;
    font-family: "Avenir LT Std";
    font-weight: bold;
}

main>section:nth-child(1)>:nth-child(2)>:nth-child(4)>:nth-child(3){
    height: 30px;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

main>section:nth-child(1)>:nth-child(2)>:nth-child(4)>:nth-child(3)>:nth-child(1){
    background: transparent;
    color: red;
    transition: 1s border;
}

main>section:nth-child(1)>:nth-child(2)>:nth-child(4)>:nth-child(3)>:nth-child(1):hover{
    border: 1.5px solid red;
    transition: 1s border;
}

main>section:nth-child(1)>:nth-child(2)>:nth-child(4)>:nth-child(3)>button{
    width: 150px;
    height: 35px;
    right: 5px;
    font-family: Arial;
    margin-bottom: 20px;
    border-radius: 4px;
    background: #213667;
    border: none;
    color: white;
    outline: none;
}