

nav{
    position: fixed;
    width: 13%;
    height: 100vh;
    min-width: 100px;
    background: #213667;
    z-index: 1;
}

nav>:nth-child(1){
    position: absolute;
    left: 0;
    top: 2%;
    right: 0;
    min-width: 60px;
    margin: auto;
}

nav>:nth-child(2){
    position: absolute;
    left: 0;
    top: 18%;
    right: 0;
    margin: auto;

}

nav>a{
    text-decoration: none;
}

nav>a>div{
    position: relative;
    top: 220px;
    width: 90%;
    height: 40px;
    margin: 30px 0 0 0;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    background: white;
    transition: background-color .5s;

}

nav>a>div:hover{
    background: #1C894A;
    transition: background-color .5s;
}

nav>a>div:hover h3{
    color: white;
    transition: color .5s;|
}

nav>a>div>h3{
    text-align: center;
    padding: 8px 0 0 0;
    color: #213667;
    transition: color .5s;
    font-family: "Avenir LT Std";
    margin: 0;
}

nav>:nth-child(3){
}

header{
    position: absolute;
    top: 0;
    right: 0;
    width: 87%;
    height: 45px;
    background: #1C894A;
    text-align: center;
}

header>h3{
    font-size: 20px;
    color: white;
    margin: 10px 0 0 0;
    font-family: "ROG Fonts";
}

main{
    position: absolute;
    width: 87%;
    height: 93.5%;
    /*height: max-content;*/
    top: 45px;
    right: 0;
    background: #EBEBEB;
}

main>:nth-child(1){
    width: calc(100% - 20px);
    height: 405px;
    margin: 10px 0 0 10px;
    position: relative;
    background: white;
}

main>:nth-child(1)>:nth-child(1){
    width: 60%;
    height: 100%;
    overflow: hidden;
}

main>:nth-child(1)>:nth-child(1)>div{
    width: 100%;
    height: 100%;
    display: flex;
    animation: sliderOne 10s infinite;
}

@keyframes sliderOne {
    0%{}
    33%{transform: translateX(-100%)}
    66%{transform: translateX(-200%)}
    100%{transform: translateX(-300%)}
}

main>:nth-child(1)>:nth-child(2){
    width: 39%;
    height: 200px;
    background: #EBEBEB;
    position: absolute;
    top: 0;
    right: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}

main>:nth-child(1)>:nth-child(2)>div{
    display: flex;
    transition: 1s;
    transform: translateX(-200%);
    /*animation: sliderTwo 10s infinite;*/
}
main>:nth-child(1)>:nth-child(2)>div:hover{
    transform: scale(1.1);
    transition: 1s;
}

@keyframes sliderTwo {
    0%{}
    50%{transform: translateX(-100%);}
    100%{transform: translateX(0);}
}

main>:nth-child(1)>:nth-child(3){
    width: 39%;
    height: 180px;
    background: #EBEBEB;
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

main>:nth-child(1)>:nth-child(3)>div{
    transition: 1s;
    transform: translateY(-45%);
    /*animation: sliderThree 5s infinite;*/
}

main>:nth-child(1)>:nth-child(3)>div:hover{
    transform: scale(1.1);
    transition: 1s;
}

@keyframes sliderThree {
    0%{}
    100%{transform: translateY(0);}
}


main>:nth-child(2){
    width: calc(100% - 20px);
    height: 240px;
    margin: 10px 0 0 10px;
    display: flex;
}

main>:nth-child(2)>article{
    width: 250px;
    height: calc(100% - 10px);
    background: white;
    margin: 10px ;
    position: relative;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    overflow: hidden;
}

main>:nth-child(2)>:nth-child(1){
    width: 350px;
    left: 5%;
}
main>:nth-child(2)>:nth-child(2){left: 5%}
main>:nth-child(2)>:nth-child(3){left: 5%}
main>:nth-child(2)>:nth-child(4){left: 5%}

main>:nth-child(2)>article>h3{
    margin: 5px 0 0 12px;
    font-family: "Avenir LT Std";
}

main>:nth-child(2)>:nth-child(1)>:nth-child(2){
    position: relative;
    top: 5px;
}


main>:nth-child(2)>:nth-child(1)>:nth-child(3){
    position: absolute;
    right: 30px;
    top: 40px;
    left: unset;
    bottom: unset;
    margin: unset;
}

main>:nth-child(2)>article>div{
    width: 100%;
    height: 9%;
    padding: 10px 0 0 0;
    transition: height .5s;
    position: absolute;
    bottom: 0;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    background: #009879;
}

main>:nth-child(2)>article:hover div{
    height: 80%;
    transition: height .5s;
}

main>:nth-child(2)>article>img{
    position: absolute;
    top: -10px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

main>:nth-child(2)>article>div>h4{
    margin: 0 0 0 20px;
    color: white;
    font-family: Roboto;
    font-weight: normal;
}